:root {
    --heder-mailto-color: #2196F3;
        --heder-tel-color: #757575;
        --heder-link-mailto: #212121;
        --section-h: #FFFFFF;
        --footer-contact: rgba(255, 255, 255, 0.6);
        --logo-dark: #000000;
        --btn: #188CE8
    }